apiVersion: v1
kind: Secret
metadata:
  name: repo-ssh-sampleapp
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: git@github.com:kansagarahitesh/sampleapp.git
  sshPrivateKey: |
{% for line in ssh_private_key.splitlines() %}
    {{ line }}
{% endfor %}